<div class="page-width">
  <div class="section-header text-center">
    <h1 class="page-heading">{{ 'customer.account.title' | t }}</h1>
    {{ 'layout.customer.log_out' | t | customer_logout_link }}
  </div>
  <div class="account__wrapper">
    <div class="account__line-container">
      <ul class="account__tabs">
        <li>
          <a href="{{ routes.account_addresses_url }}">
            {{ 'customer.account.view_addresses' | t }}
          </a>
        </li>
        <li class="active">
          <a href="{{ routes.account_url }}">
            {{ 'customer.orders.title' | t }}
          </a>
        </li>
      </ul>
    </div>
    <div class="order-wrapper">
      {% paginate customer.orders by 20 %}
      {% if customer.orders.size != 0 %}

        <table class="responsive-table">
          <thead>
            <tr>
              <th scope="col">{{ 'customer.orders.order_number' | t }}</th>
              <th scope="col">{{ 'customer.orders.date' | t }}</th>
              <th scope="col">{{ 'customer.orders.payment_status' | t }}</th>
              <th scope="col">{{ 'customer.orders.fulfillment_status' | t }}</th>
              <th scope="col">{{ 'customer.orders.total' | t }}</th>
            </tr>
          </thead>
          <tbody>
            {% for order in customer.orders %}
              <tr>
                <th data-label="{{ 'customer.orders.order_number' | t }}" scope="row">
                  <a href="{{ order.customer_url }}" class="btn btn--secondary btn--small" aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}">{{ order.name }}</a>
                </th>
                <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | time_tag: format: 'date' }}</td>
                <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
                <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
                <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

      {% else %}

        <p class="text-center">{{ 'customer.orders.none' | t }}</p>
        <a href="/" class="btn hero__btn"> {{ 'gift_cards.issued.shop_link' | t }}</a>
      {% endif %}
      {%- if paginate.pages > 1 -%}
        {% include 'pagination', paginate: paginate %}
      {%- endif -%}
    {% endpaginate %}
    </div>
  </div>
</div>
{% section 'info-footer' %}

